.icon {
  display:inline-block;
  height: 15px;
  width: 15px;
  margin-right: $icon-margin;
}

.icon_phone {
  background: center url('../icons/phone-icon.svg') no-repeat;
}

.icon_mail {
  background: center url('../icons/mail-icon.svg') no-repeat;
}

.icon_log-in {
  background: center url('../icons/log-in-icon.svg') no-repeat;
}

.icon_sign-in {
  background: center url('../icons/sign-in-icon.svg') no-repeat;
}
