@import "abstracts/variables.scss";
@import "abstracts/mixins";

@import "base/normalize";
@import "base/base";
@import "base/icons";

@import "layout/wrapper";
@import "layout/header";

@import "components/buttons";









.basket__icon {
  height: 32px;
  width: 32px;
  background: url('../icons/basket-icon.svg') no-repeat;
}