@mixin font ($size, $weight: bold, $style: normal, $family: $main-font-name, $color: #000) {
  font-family: $family;
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  color: $color;
}

@mixin flex ($direction: row, $align-items: center, $justify-content: space-between, $flex-wrap: nowrap){
  display: flex;
  flex-direction: $direction;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-wrap: $flex-wrap;
}


