@mixin font ($size, $weight: bold, $style: normal, $family: $main-font-name, $color: #000) {
  font-family: $family;
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  color: $color;
}


