%dropdown-template {
  background-color: $main-background;
  padding-top: $standard-indent;
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: $double-indent*2;
  letter-spacing: normal;
  animation: growDown 300ms ease-in-out;
  
  @keyframes growDown {
    0% {
        transform: scaleY(0);
        height: 0;
    }
    50% {
        transform: scaleY(1.1);
        height: 100px;
    }
    100% {
        transform: scaleY(1);
        height: 200px;
    }
  }
  
  .dropdown__item {
    @include font(1.4rem, $weight: normal);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-transform: none;

    &:hover {
      background-color: $hovered-background;
    }
  }
}

%background-animation {
  background: linear-gradient(to left, $main-background 50%, $hovered-background 50%) right;
  background-size: 200%;
  transition: background-position .3s;

  &:hover {
    transition: 1s;
    background-position: left;
  }
}