$main-background: #fff;
$secondary-background:  #ecc7d0;
$hovered-background:  #f7f7f7;

$header-top-fixed-height: 40px;

$half-indent: 5px;
$standard-indent: 10px;
$double-indent: 20px;

$account-buttons-min-width: 130px;

$form-height: 40px;
$form-width: 480px;

$main-border: 1px solid #aaa;

$main-font-name: 'Lato', sans-serif;

$content-width: 1240px;
$tablet-width: 768px;
$mobile-width: 414px;
$min-content-width:350px;
