$main-color: yellow;

$header-top-fixed-height: 40px;
$icon-margin: 5px;
$link-indent: 20px;


$header-border: 1px solid #aaa;

$main-font-name: 'Lato', sans-serif;

$content-width: 1240px;
$tablet-width: 768px;
$mobile-width: 414px;
$min-content-width:350px;