.link {
  @include font ($size: 1.3rem, $weight: normal);
  margin-right: $standard-indent;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  height: 100%;

  &:hover {
    transition: all .2s;
    color: #aaa;
  }
}

.account-buttons{
  &__button {    
    margin: 0;
    border-left: $main-border;
    padding: 0 $standard-indent;
    min-width: $account-buttons-min-width;
    
    &:last-child {
      border-right: $main-border;
    }
  }
}

.contacts{ 
  .link__description {
    min-width: 73px;
    @media (max-width: $tablet-width) {
      display: none;
    }
  }
}



