.dropdown {
  position: relative;

  &__content { 
    @extend %dropdown-template;
    & > .dropdown__item {
      @extend %background-animation;
    }
  }

  &__content_secondary {
    @extend %dropdown-template;
    line-height: 8px;
    overflow: hidden;

    .dropdown__item:hover {
      background-color: $main-background;
      color: $secondary-background;
    }
  }

  &:hover .dropdown__content {
    display: block;
  }
  
  .dropdown{

    &:hover {
      .dropdown__content_secondary {
        display: block;
        left: 160px;
        top: -$standard-indent;
      }
    }
  } 
}

