.search-form {
  height: $form-height;
  box-sizing: border-box;
  border-bottom: $main-border;
  min-width: 190px;

  @include flex;
  @include font(1.4rem, $weight: normal);
  * {
    background-color: $main-background;
    height: 100%;
    padding: 0;
    border: 0;
  }

  &__input {
    padding-left: $half-indent;
    width: 100%;
    opacity: 0.5;
  }
}