.navigation {
  @include flex($flex-wrap: wrap);
  width: 100%;

  .navigation__link {
    @include font(1.4rem);
    cursor: pointer;
    text-transform: uppercase;
    padding: 15px $standard-indent $standard-indent 0;
    letter-spacing: 1px;
    

    &:last-child {
      padding-right: 0;
    }

    &:hover {
      color: $secondary-background;
      transition: all .3s;
    }
  }

}