.header {
  border-bottom: $main-border;
  &__fixed {
    @include size ($height: $header-top-fixed-height, $width: 100%);
    border-bottom: $main-border;
    background-color: $main-background;
    position: fixed;
    top: 0;
    box-sizing: border-box;

    .contacts,
    .account-buttons{
      display: flex;
      height: 100%;
    }
  }

  &__middle {
    margin-top: $header-top-fixed-height;
    
    .wrapper {
      padding-top: $double-indent;
    }

    .search-form {
      margin-top: $standard-indent; 
      width: 40%; 
      position: relative;
      right: -7%;
    }

    .basket {
      margin-top: $double-indent;
      margin-right: $double-indent*2;
    }
  }

  &__navigation {
    margin-top: 17px;
  }

  @media (max-width: $content-width) {
    &__middle {
      .search-form {
        right: 0;
      }

      .basket {
        margin-right: $half-indent;
      }
    }
  }  

  @media (max-width: $mobile-width) {
    &__middle {
      .wrapper {
        padding-top: 0;
      }
    }
  } 
  
  @media (max-width: $mobile-width) {
    &__navigation {
      margin-top: 0;
    }
  }
}
