.wrapper {
  max-width: $content-width;
  margin: auto;
  background-color: aliceblue;
  // @include media-laptop {
  //     padding: 0 46px;
  // }
  // @include media-mobile {
  //     padding: 0 21px;
  // }
}